body,html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: black;
}

*{
  font-family: Quicksand;
  letter-spacing: 1px;
}
nav,ul{
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
}
li{
  display: inline-block;
  list-style-type: none;
}
.fas{
  font-size: 1.5em;
  color: white;
  padding: .5em;
  border-radius: 10px;
}
li > label{
  color:white;
  font-size: 15px;
  font-weight: bold;
}
select,option{
  background-color: rgba(240,240,240,0.5);
  border:none;
  padding: 10px;
}
#map{
  display: inline-block;
  height: 80%;
  width: 65%;
  vertical-align: middle;
}
.leaflet-routing-container{
  height: 20px;
  width: 20px;
  opacity: 0.5s;
  transition: all 0.3s ease;
  overflow:hidden;
}
.leaflet-routing-container:hover{
  height: auto;
  width: 300px;
  opacity: 1;
}
.leaflet-popup-content-wrapper{
  width: 400px;
  height: 450px;
  padding: 1em;
}
.leaflet-popup-tip{
  visibility: hidden;
}
#btn_filtrer{
  color: black;
  background-color: white;
}
.btn-icon{
  background-color: transparent;
  border: none;
}
.icon_wrapper{
  margin: 50px;
  margin-top: 10px;
  position: fixed;
  z-index: 1000;
}
.nav_events{
  width: auto;
  height: 80%;
  margin-top: 100px;
  margin-left: 20px;
  vertical-align: middle;
  position: fixed;
  overflow-y: scroll;
  display: none;
  transition: width 0.3s ease;
  z-index: 1000;
  /* margin-left: 100px; */
}
#filter-icon{
  position: absolute;
  right:0;
  background-color: rgba(101, 161, 199, 0.5);
  z-index: 1000
}
#open-filters{
  position: fixed;
  margin-left: 200px;
  background-color: rgba(101, 161, 199, 0.5);
  z-index: 1000;
}
.event_wrapper{

  text-align:center;
  height: 100px;
  width: 400px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 10px;
  -webkit-box-shadow: 10px 10px 41px 0px rgba(237,237,237,1);
  -moz-box-shadow: 10px 10px 41px 0px rgba(237,237,237,1);
  box-shadow: 10px 10px 41px 0px rgba(237,237,237,1);
}

.event_wrapper > img,p,span{
  display: inline-block;
}
.event_wrapper h2 {
  font-size: 1em;
}
.event_img{
  float: left;
  width: 100px;
  height: 100px;
  }
  .event_date{
    color: black;
  }
  #list-icon:hover > #nav_events{
    display:block;
  }
.nav-item{
    text-align: left;
    padding: 10px;
}
#list-icon:hover > #nav_events{
  display:block;
}


.marker-cluster-small {
background-color: rgba(218, 94, 94, 0.6);
}
.marker-cluster-small div {
background-color: rgba(226, 36, 36, 0.6);
}
.marker-cluster-medium {
background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
background-color: rgba(241, 128, 23, 0.6);
}
