body,html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color:#cfccd0;
}

*{
  font-family: Quicksand;
  letter-spacing: 1px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ul {
    padding: 0;
    list-style-type: none;
}

a{
  color: black;
}
li{
  list-style-type: none;
}
input{
  padding: .5em;
  border:1px solid #E8E8E8;
  background-color: inherit;
  color:white;
}
label{
  font-size: 17px;
  font-weight: bold;
  color: #FFF;
  margin-left: 10px;
}
select,option{
  background-color: rgba(240,240,240,0.5);
  border:none;
  padding: 10px;
}
button:active{
  background-color: white;
}

  /* sidi quand tu fais du css tu peux le mettre en responsive !!! */
.navbar{
  /* padding: 10px;
  padding-bottom: 0;
  text-align: center; */
  background-color: #5a5c7c !important;
  /* display: inline-block; */        /* <--Sidi */
}

.nav-item {
  display: inline-block;
}
.navbar-brand{
  font-weight: bold;
  font-size: 2em;
}
/* sidi commenter le width de la map */
#map{
  float:left;
   display: inline-block;
  height: 100%;
  width: 70%;
}
.icon-alt{
  width: 30px;
  height: 30px;
}
.legend{
  position: absolute;
  bottom: -50px;
  left: 23%;
  z-index: 1000
}
.legend .container{

  width: 100px;
  display: inline-block;
}
#five-label{
    color: white;
  background-color: rgba(193, 39, 45,0.7);
}
#fifteen-label{
    color: white;
  background-color: rgba(140, 198, 63,0.7);
}
#thirty-label{
    color: white;
  background-color: rgba(0, 104, 55,0.7);
}
#selectionBar{
  position: absolute;
  width: auto;
  right: 30%;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 1000;
}
.btn-routing i,.btn-routing img {
  vertical-align:top;
  font-size: 2em;
  margin-top: 10px;
  color:black !important;
}
.btn-routing {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #E8E8E8;
  display: inline-block;
}
.leaflet-routing-container{
  height: 20px;
  width: 20px;
  opacity: 0.5s;
  transition: all 0.3s ease;
  overflow:hidden;
}
.leaflet-routing-container:hover{
  height: auto;
  width: 300px;
  opacity: 1;
}
.leaflet-popup-content-wrapper{
  width: 400px;
  height: 450px;
  padding: 1em;
  background-color: rgba(240,240,240,0.7);
}
.leaflet-popup-tip{
  visibility: hidden;
}
.nav_events{
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
}





.event-wrapper{
  width: 100%;
  height: auto;
  background-color: rgba(250, 250, 250,1);
}
.event-wrapper > div{
  padding: 0;
  margin: 0;
    height: 100px;
  display: inline-block;
  vertical-align: middle;
}
.event-date-wrapper{
  color:white;
  font-size: 2.5em;
  text-align: center;
  width: 18%;
  height: 100%;
  background-color:  #5a5c7c;
}
.event-img-wrapper{
  color:white;
  width: 15%;
}
.event-info-wrapper {
  position: relative;
  padding: 1em;
  width: 58%;
  height: 100%;
  display: inline-block;
}
.event-info-wrapper > span{
  display: block;
}
.event-title{
  font-weight: bold;
  font-size: 1.3em;
}
.event-time{
  color: grey;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
}
.event-time:hover{
  color: #d15454;
}
.event-price{
  position: absolute;
  text-align: right;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: bold;
  right: 0;
  bottom: 0;
}
.event-address{
  padding: 1em;
  font-weight: bold;
  display: block;
}
.event-price:hover{
  color: #D15654;
}
.social-icon-wrapper{
  float: right;
  color: white;
  text-align: center;
  font-size: 1.9em;
  height: 100%;
  width: 25px;
}
.social-icon > a{
  color: #E8E8E8;
}
.social-icon > a:hover{
  color: grey;
}
.event-plus-wrapper{
  color: white;
  width: 100%;
  height: 0px !important;
  text-align: center;
transition: height .1s ease-in;
display: none;
}
.event-plus-wrapper > a {
  visibility: hidden;
}
.event-wrapper:hover .event-plus-wrapper{
  height: 100px !important;
  color:black;
}
.event-wrapper:hover .event-plus-wrapper > a{
  visibility: visible;
}




.button {
    /* font-family: sans-serif;
    text-transform: uppercase;
    color: #666; */
    cursor: pointer;
    /* padding: 10px 10px 8px 10px;
    display: inline-block;
    font-size: 14px; */
}
.button:hover {
    background-color: #EEE;
}
.button.active {
    color: #50B0B5;
}
/*
.event-wrapper > div{
  height: 100%;
  display: inline-block;
  background-color: red;
}
.event-img-wrapper{
  width: 10%;
  height: 100%;
}
.event-info-wrapper{
  width: 30%;
}
.event-date-wrapper > span{
  width: 100%;
  height: 100%;
}
.event-date-wrapper{
  color:white;
  width: 30%;
  height: 100%;
  background-color: rgba(89, 175, 255,1);
}
.event-date-wrapper:nth-child(even){
  color:white;
  background-color: rgba(237, 237, 237,1);
}
.event-time p {
  width: 100%;
}
.social-icon{
  width: 100%;
} */

.marker-cluster-small {
background-color: rgba(167, 210, 250, 0.6);
}
.marker-cluster-small div {
background-color: rgba(167, 210, 250, 0.6);
}
.marker-cluster-medium {
background-color: rgba(167, 210, 250, 0.6);
}
.marker-cluster-medium div {
background-color: rgba(167, 210, 250, 0.6);
}
.marker-cluster-large {
background-color: rgba(167, 210, 250, 0.6);
}
.marker-cluster-large div {
background-color: rgba(167, 210, 250, 0.6);
}



@media screen and (max-width: 640px){
  div#map{
    display: none;
  }




  .nav_events{

    width: 100%;
    height: 100%;

  }
}


/* @media screen and (max-width: 1024px) and (min-width: 600px){
  div#map{

    height: 100%;
    width: 50%;
    /* vertical-align: left; */
    /* vertical-align: middle; */
  /* }

   div.nav_events{

    width: 30%;
    height: 100%;

  }

    } */
