body,html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*{
  font-family: Quicksand;
  letter-spacing: 1px;
}
nav,ul{
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
}
li{
  list-style-type: none;
}
input{
  padding: .5em;
  border:1px solid #E8E8E8;
  background-color: inherit;
}
label{
  font-size: 15px;
  font-weight: bold;
}
select,option{
  background-color: rgba(240,240,240,0.5);
  border:none;
  padding: 10px;
}
button:active{
  background-color: red;
}
.nav-item {
  display: inline-block;
}
#map{
  display: inline-block;
  height: 80%;
  width: 65%;
  vertical-align: middle;
}
.leaflet-routing-container{
  height: 20px;
  width: 20px;
  opacity: 0.5s;
  transition: all 0.3s ease;
  overflow:hidden;
}
.leaflet-routing-container:hover{
  height: auto;
  width: 300px;
  opacity: 1;
}
.leaflet-popup-content-wrapper{
  width: 400px;
  height: 450px;
  padding: 1em;
  background-color: rgba(240,240,240,0.7);
}
.leaflet-popup-tip{
  visibility: hidden;
}
.nav_events{
  width: 430px;
  height: 80%;
  overflow-y: scroll;
  display: inline-block;
  margin-top: 10px;
  vertical-align: middle;
  border: 1px solid grey;
  /* margin-left: 100px; */
}
.event_item{

}
.event_wrapper{

  text-align:center;
  height: 100px;
  width: 400px;
  background-color: white;
  margin-bottom: 10px;
  -webkit-box-shadow: 10px 10px 41px 0px rgba(237,237,237,1);
  -moz-box-shadow: 10px 10px 41px 0px rgba(237,237,237,1);
  box-shadow: 10px 10px 41px 0px rgba(237,237,237,1);
}

.event_wrapper > img,p,span{
  display: inline-block;
}
.event_wrapper h2 {
  font-size: 1em;
}
.event_img{
  float: left;
  width: 100px;
  height: 100px;
}
.event_date{
  color: black;
  font-weight: bold;
}
.detail{
  color: #E8E8E8;
  opacity: 0.4;
  margin: auto;
}









.marker-cluster-small {
background-color: rgba(218, 94, 94, 0.6);
}
.marker-cluster-small div {
background-color: rgba(226, 36, 36, 0.6);
}
.marker-cluster-medium {
background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
background-color: rgba(241, 128, 23, 0.6);
}
