body,html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*{
  font-family: Quicksand;
  letter-spacing: 1px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav,ul{
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
}
a{
  color: black;
}
li{
  list-style-type: none;
}
input{
  padding: .5em;
  border:1px solid #E8E8E8;
  background-color: inherit;
}
label{
  font-size: 15px;
  font-weight: bold;
}
select,option{
  background-color: rgba(240,240,240,0.5);
  border:none;
  padding: 10px;
}
button:active{
  background-color: red;
}
.nav-item {
  display: inline-block;
}
#map{
  display: inline-block;
  height: 80%;
  width: 60%;
  vertical-align: middle;
}
.leaflet-routing-container{
  height: 20px;
  width: 20px;
  opacity: 0.5s;
  transition: all 0.3s ease;
  overflow:hidden;
}
.leaflet-routing-container:hover{
  height: auto;
  width: 300px;
  opacity: 1;
}
.leaflet-popup-content-wrapper{
  width: 400px;
  height: 450px;
  padding: 1em;
  background-color: rgba(240,240,240,0.7);
}
.leaflet-popup-tip{
  visibility: hidden;
}
.nav_events{
  width: 38%;
  height: 80%;
  overflow-y: scroll;
  display: inline-block;
  margin-top: 10px;
  vertical-align: middle;
  border: 1px solid grey;
}
.event_wrapper{
  text-align:center;
  height: 100px;
  width: 400px;
  background-color: white;
  margin-bottom: 10px;
  -webkit-box-shadow: 10px 10px 41px 0px rgba(237,237,237,1);
  -moz-box-shadow: 10px 10px 41px 0px rgba(237,237,237,1);
  box-shadow: 10px 10px 41px 0px rgba(237,237,237,1);
}





ul li{
  padding: 0;
  list-style: none;
}
.event-wrapper{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  background-color: rgba(250, 250, 250,1);
}
.event-wrapper > div{
  padding: 0;
  margin: 0;
    height: 100px;
  display: inline-block;
  vertical-align: middle;
}
.event-date-wrapper{
  color:white;
  font-size: 2.5em;
  text-align: center;
  width: 18%;
  height: 100%;
  background-color: rgba(89, 175, 255,1);
}
.event-img-wrapper{
  color:white;
  width: 15%;
}
.event-info-wrapper {
  position: relative;
  padding: 1em;
  width: 58%;
  height: 100%;
  display: inline-block;
}
.event-info-wrapper > span{
  display: block;
}
.event-title{
  font-weight: bold;
  font-size: 1.3em;
}
.event-time{
  color: grey;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
}
.event-time:hover{
  color: #d15454;
}
.event-price{
  position: absolute;
  text-align: right;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: bold;
  right: 0;
  bottom: 0;
}
.event-address{
  padding: 1em;
  font-weight: bold;
  display: block;
}
.event-price:hover{
  color: #D15654;
}
.social-icon-wrapper{
  float: right;
  color: white;
  text-align: center;
  font-size: 1.9em;
  height: 100%;
  width: 25px;
}
.social-icon > a{
  color: #E8E8E8;
}
.social-icon > a:hover{
  color: grey;
}
.event-plus-wrapper{
  color: white;
  width: 100%;
  height: 0px !important;
  text-align: center;
transition: height .1s ease-in;
display: none;
}
.event-plus-wrapper > a {
  visibility: hidden;
}
.event-wrapper:hover .event-plus-wrapper{
  height: 100px !important;
  color:black;
}
.event-wrapper:hover .event-plus-wrapper > a{
  visibility: visible;
}
/*
.event-wrapper > div{
  height: 100%;
  display: inline-block;
  background-color: red;
}
.event-img-wrapper{
  width: 10%;
  height: 100%;
}
.event-info-wrapper{
  width: 30%;
}
.event-date-wrapper > span{
  width: 100%;
  height: 100%;
}
.event-date-wrapper{
  color:white;
  width: 30%;
  height: 100%;
  background-color: rgba(89, 175, 255,1);
}
.event-date-wrapper:nth-child(even){
  color:white;
  background-color: rgba(237, 237, 237,1);
}
.event-time p {
  width: 100%;
}
.social-icon{
  width: 100%;
} */

.marker-cluster-small {
background-color: rgba(167, 210, 250, 0.6);
}
.marker-cluster-small div {
background-color: rgba(167, 210, 250, 0.6);
}
.marker-cluster-medium {
background-color: rgba(167, 210, 250, 0.6);
}
.marker-cluster-medium div {
background-color: rgba(167, 210, 250, 0.6);
}
.marker-cluster-large {
background-color: rgba(167, 210, 250, 0.6);
}
.marker-cluster-large div {
background-color: rgba(167, 210, 250, 0.6);
}
